/* SETTING THE INITIAL SCREEN SIZES TO BE INHERITED */
body{
  margin: 0;
  padding: 0;
  height: 100vh;  
  font-family: Verdana;
  background-color: black;
  color: rgb(215, 218, 220);
}

header {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* NAV BAR STYLES */
.basenav{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  background-color: black;
  border-bottom: 1px solid #545452;
}

.topnav{
  justify-content: space-between;
}

.tags{
  padding-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.tags a{
  padding-bottom: 25px;
}

.topnav a:hover {
  border-bottom: 3px solid red;
}


.basenav a{
  color: white;
  text-decoration: solid;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
}

.basenav .baselogo{
  transform: translateX(10px);
  width: 300px;
  height: auto;
}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
  
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  transition: 0.5s ease;

}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding-bottom: 26px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  transition: 0.4s ease;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  text-shadow: 2px 2px 8px rgb(95, 95, 95);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #A5A4A4;
  width: 108px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  transition: 0.3s ease;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #545452;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*LOGIN FORM*/
.wrapper{
  position: relative;
  left: 50%;
  transform: translate(-47.5%, 0%);
  max-width: 350px;
  width: 100%;
  background: white;
  padding: 25px;
  border-radius: 5px;
  color:lightgrey;
  background-color: #222222;
  border: 1px solid #666666;
}

.wrapper:hover{
  border-color: lightgrey;
}
.wrapper a{
  text-decoration: none;
  color: grey;
}

.wrapper a:hover{
  text-decoration: underline;
}
.wrapper h1{
  padding-bottom: 10px;
  text-transform: uppercase;
}

.wrapper .rbtn{
  transform: translate(-70px ,20px);
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field .inputbox{
  width: 100%;
  height: 20px;
  border: 1px solid #666666;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  justify-content: center;
  background-color: #545452;
}

.wrapper .input_field .label{
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 2px;

}

.wrapper .sbtn{
  border: 0;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: rgb(0, 0, 0);
  border: 3px solid #666666;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer; 
}

.wrapper .sbtn:hover{
  border-color: lightgrey;
  box-shadow: 0 0 10px white;
}

.wrapper #error_message{
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 5px;
  background: #fe8b8e;
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
  animation: errorbar;
  animation-duration: 0.5s;
}

@keyframes errorbar{
  from{padding: 0px;}
  to{padding: 5px;}
}

/* FLASHED MESSAGES IN BASE HTML */
.messages{
  text-align: center;
}

.messages ul {
  margin-left: 30%;
  margin-right: 30%;
}

.messages ul li{
  list-style: none;
  color: white;
  text-align: center;
}

.alertError {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 5px;
  background: #fe8b8e;
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
  animation: errorbar;
  animation-duration: 0.5s;
}

.alertSuccess {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 5px;
  background: greenyellow;
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
  animation: errorbar;
  animation-duration: 0.5s;
}

.alertInfo {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 5px;
  background: lightblue;
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
  animation: errorbar;
  animation-duration: 0.5s;
}

/* Quizzes page */
.row {
  position:relative;
  left: 50%;
  transform: translate(-47.5%, 0%);
  max-width: 1000px;
  width: 100%;
  background: #222222;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #A5A4A4;
  
}

.row:hover{
  border-color: white;
  box-shadow: 0 0 10px white;

}

.profile-pic{
  border-radius: 50%;
  padding: 5px;
  width:50px;
  margin-top:0px;
  vertical-align: middle;
}
.author {
  margin: 20px;
  color: grey;
  padding: 5px;
  text-decoration: none;
  background-color: RGBA(84, 84, 82, 1);
  border-radius:2px;

}

.author:hover{
  text-decoration:underline;
}
.quiz-name {
  text-decoration:none;
  color:white;
  padding:10px;
  border-radius:2px;
  margin-right:20px;
  font-size:30px;
}

.quiz-name:hover{
  text-decoration:underline;
}

.desc {
  color: lightgrey;
  padding-left:25px;
}

.date {
  font-size:15px;
  color: grey;
  padding-top:15px;
}

.text-wrap {
  display:inline-block;
}

/* RESULTS PAGE */
.assessments {
  width: 90%;
  margin-left: 5%;
  /* margin-right: 10%; */
  table-layout: fixed;
  border-collapse: collapse;
}

.assessments table, .assessments th, .assessments td {
  border: 1px solid #545452
}

.assessments td {
  height: 80px;
}

.assessments th, td {
  padding: 15px;
  text-align: left;
}

.assessments tr:hover {
  background-color: #222222;
}

/* PROFILE PAGE */
.profile-avatar {
  text-align: center;
}

.profile-table td{
  text-align:center;
  line-height:5px;
}

.profile-table .username {
  font-size: 30px;
  color:lightgrey;
}

.profile-table p{
  color:grey;
}

.profile-table .about-me{
  color: lightgrey;
}

/* Answer Page */

.quiz_title{
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 2px;
  color:rgb(131, 131, 131);
}

.quiz_desc{
  font-family: 'Montserrat';
  font-style: italic;
}

.quizwrapper{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 650px;
  width: 100%;
  background:  #222222;
  padding: 20px;
  border-radius: 10px;
  align-content: center;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(80, 80, 80);
  margin-bottom: 6px;
}


.qwrapper {
  transform: translate(0,0);
  position: center;
  background-color: rgb(80, 80, 80);
  height: 200px;
  width: 650px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #8f8d8d;
  margin-bottom: 6px;
}

.lqwrapper {
  height: 300px;
}

.qwrapper:hover {
  border-radius: 10px;
  box-shadow: 0 0 8px white;
}

.qwrapper .questions{
  padding-top: 10px;
  color: white;
  text-transform: capitalize;
}

.qwrapper div{
  transform: translate(-4%,15%);
}

.qwrapper .inputbox{
  transform: translate(0,30%);
  width: 80%;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  justify-content: center;
  resize: none;
  font-size: 15px;
}

.qwrapper .long{
  height: 150px;
}

.qwrapper .lquestion{
  transform: translate(0,20%);
}

.subbutton{
  border: 0;
  margin-top: 10px;
  margin-bottom: 60px;
  padding: 10px;
  width: 30%;
  background: black;
  border: 3px solid limegreen;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

.subbutton:hover{
  background: limegreen;
  border: 3px solid limegreen;
  color: white;
}

.subbutton:active{
  background: black;
  border: 3px solid limegreen;
  color: white;
}

/* TUTORIAL PAGE */
.tutorialcontainer {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

/* FOOTER */
.footer-bottom {
  height: 40px;
  text-align: center;
  vertical-align: auto;
  bottom:0px;
  left:0px;
  position:fixed;
  width:100%;
  padding-top:20px;
  color: #545452;
  
}