{% extends "base.html" %}

{% block content %}
    <h1>{{ user.username }}</h1>

    <table>
        <tr>
            <th>Quiz</th>
            <th>Publish Date</th>
            <th>Score</th>
            <th>Feedback</th>
            <th>Distribution</th>
        </tr>

        {% for quiz in quizzes %}
            <tr>
                <!-- Backref to Quizzes table -->
                <th>{{ quiz.quizMarks.name }}</th>
                <th>{{ quiz.quizMarks.pub_date.strftime('%d/%m/%Y, %I:%M%p') }}</th>

                <!-- from quizMarks table -->
                <th>{{ quiz.mark }}%</th>
                <th>{{ quiz.feedback }}</th>
            </tr>

        {% endfor %} 
    </table>
    
{% endblock %}