{% extends "base.html" %}

{% block content %}
    <h1>{{ user.username }}</h1>

    <div style="overflow-x:auto;">
    <table class="assessments">
        <tr>
            <th>Quiz</th>
            <th>Publish Date</th>
            <th>Score</th>
            <th>Feedback</th>
            <th>Distribution</th>
        </tr>

        {% for quiz in quizzes %}
            <tr>
                <!-- Backref to Quizzes table -->
                <td>{{ quiz.quizMarks.name }}</td>
                <td>
                    {{ quiz.quizMarks.pub_date.strftime('%d/%m/%Y') }} </br>
                    {{ quiz.quizMarks.pub_date.strftime('%I:%M%p') }}
                </td>

                <!-- from quizMarks table -->
                <td>{{ quiz.mark }}%</td>
                <td>{{ quiz.feedback }}</td>
            </tr>

        {% endfor %} 
    </table>
    </div>
{% endblock %}