<!DOCTYPE html>
<html lang="en-US">
    <head>
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

        <!-- TITLE: If a title is provided in render template, else use default -->
        {% if title %}
        <title>{{ title }} - Quizards</title>
        {% else %}
        <title>Quizards</title>
        {% endif %}
    </head>

    <body>
        <div class="container">
        <!--NAV BAR  -->
        <div>
            <ul class="basenav topnav">
                <!-- If user is not logged in -->
                {% if current_user.is_anonymous %}
                <li class="tags"><a href="{{ url_for('tutorial') }}">tutorial</a></li>
                <li><a href="{{ url_for('quizzes') }}"><img class='baselogo' src="{{ url_for('static', filename='css/templogo.png') }}"></a></li>
                <li class="tags"><a href="{{ url_for('login') }}">Sign In</a></li>

                <!-- If user is logged in -->
                {% else %}
                <li class="tags"><a href="{{ url_for('tutorial') }}">tutorial</a></li>
                <li><a href="{{ url_for('quizzes') }}"><img class='baselogo' src="{{ url_for('static', filename='css/templogo.png') }}"></a></li>
                <div class="dropdown">
                    <button class="dropbtn"><li class="tags"><a href="{{ url_for('quizzes') }}">Menu</a></li>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('index') }}">Home</a>
                        <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                        <a href="{{ url_for('explore') }}">Explore</a>  
                        <a href="{{ url_for('assessments', username=current_user.username) }}">Results</a>
                        {% if g.user.admin %} 
                        <a href="{{ url_for('admin.index') }}">Admin</a>  
                        {% endif %}
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>
                {% endif %}
            </ul>
        </div>
        <br>

        <!-- Display Flashed Messages -->
        <div class="messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %} 
                <li class="{{ category }}" >{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <!-- Block content to be inherited by other templates -->
            {% block content %}
            
            {% endblock %}
        </div>

        <!-- creating footer for all pages -->
       
        <div class="footer-bottom">
            &copy; Quizards | Designed by Anthony Huynh, Jaimin Kerai and Jayden Teo
        </div>
       
        <!-- linking scripts.js folder -->
        <script src="/static/scripts.js" charset="utf-8"></script>
    </body>

</html>