<div class="row" onclick="location.href='{{ url_for('quizform', quizid=quiz.id,  quizname=quiz.name) }}';" style="cursor:pointer;">
        <table>
            <tr>
                <td colspan=100%;><a href="{{ url_for('user', username=quiz.author.username) }}"><img src="{{ quiz.author.avatar(36) }}" class="profile-pic"></a>
                    <a href="{{ url_for('user', username=quiz.author.username) }}" class = "author">
                        /{{ quiz.author.username }}
                    </a><span class="date">Posted: {{ moment(quiz.pub_date).format('DD/MM/YYYY, hh:mmA') }}</span>
                </td>
                
            </tr>
                        <td colspan=5><a href="{{ url_for('quizform', quizid=quiz.id, quizname=quiz.name) }}" class="quiz-name"> 
                            {{ quiz.name }} </a></td>
            </tr>
            <tr>
                <td colspan=5, class="desc">{{ quiz.description }}
                </td>
            </tr>
            
                        
        </table>
</div>