<div class="row" onclick="location.href='{{ url_for('quizform', quizid=quiz.id,  quizname=quiz.name) }}';" style="cursor:pointer;">
        <table>
            <tr>
                <td colspan=100%;>
                    <a href="{{ url_for('user', username=quiz.author.username) }}" style="text-decoration:none">
                        <img src="{{ quiz.author.avatar(36) }}" class="profile-pic">
                    </a>
                    <a href="{{ url_for('user', username=quiz.author.username) }}" class = "author">
                        /{{ quiz.author.username }}
                    </a><span class="date">Posted: {{ moment(quiz.pub_date).format('DD/MM/YYYY, hh:mmA') }}</span>
                    {% if quiz.Avgmark() == False%}
                    <span class="avgmark">No attempts yet</span>
                    {% elif quiz.Avgmark() >= 75.0 %}
                    <span class="avgmark good">Avg. {{ quiz.Avgmark() }}%</span>
                    {% elif quiz.Avgmark() < 75.0 and quiz.Avgmark() >= 50.0 %}
                    <span class="avgmark ok">Avg. {{ quiz.Avgmark() }}%</span>
                    {% elif quiz.Avgmark() < 50 and quiz.Avgmark() >= 0.0 %}
                    <span class="avgmark bad">Avg. {{ quiz.Avgmark() }}%</span>
                    {% endif %}
                </td>
                
            </tr>
                        <td colspan=5><a href="{{ url_for('quizform', quizid=quiz.id, quizname=quiz.name) }}" class="quiz-name"> 
                            {{ quiz.name }} </a></td>
            </tr>
            <tr>
                <td colspan=5, class="desc">{{ quiz.description }}
                </td>
            </tr>
            <tr>
                <td colspan=100%>
                    <a href="{{ url_for('comments', quizid=quiz.id, quizname=quiz.name) }}" style="text-decoration:none">
                        <button class="clicker"><i class='fas fa-comment-alt' style="color:gray"></i> 
                            {% if quiz.numOfPosts() == 1 %}
                            {{ quiz.numOfPosts() }} Comment
                            {% else %}
                            {{ quiz.numOfPosts() }} Comments
                            {% endif %}
                        </button>
                    </a>
                    <a href="{{ url_for('scores', quizid=quiz.id, quizname=quiz.name) }}" style="text-decoration:none">
                        <button class="clicker"><i class='fas fa-chart-line' style="color:gray"></i> Scores</button>
                    </a>
                </td>
            </tr>
            
                        
        </table>
</div>