{% extends "base.html" %}
{% block content %}
{% for quiz in quizzes %}
<div class="row" onclick="location.href='{{ url_for('quizform', quizid=quiz.id, quizname=quiz.name) }}';" style="cursor:pointer;">
    <div class="content-wrap">
        <table>
            <tr valign="top">
                
                    <div class="column">
                        
                        <td><img src="{{ quiz.author.avatar(36) }}" class="profile-pic"></td>
                        <td>
                            
                            <a href="{{ url_for('user', username=quiz.author.username) }}" class = "author">
                               {{ quiz.author.username }}
                            </a>
                        </td>
                        <td><a href="{{ url_for('quizform', quizid=quiz.id, quizname=quiz.name) }}" class="quiz-name"> 
                            {{ quiz.name }} </a></td>
                        <td class="date"> posted: {{ quiz.pub_date.strftime('%d/%m/%Y, %I:%M%p') }}</td>
                        <td class="desc">
                            </br>{{ quiz.description }}
                        </td>
                    </div>
            </tr>
                
        </table>
    </div>
</div>
{% endfor %}
{% endblock %}
    