{% extends "base.html" %}
{% block content %}
<table>
    <tr valign="top">
        {% for quiz in quizzes %}
        
        <td><img src="{{ quiz.author.avatar(36) }}"></td>
        <td>
            <a href="{{ url_for('user', username=quiz.author.username) }}">
                {{ quiz.author.username }}
            </a>
        </td>
        <td><a href="{{ url_for('quizform', quizname=quiz.name) }}"> 
            {{ quiz.name }} </a></td>
        <td> {{ quiz.pub_date.strftime('%d/%m/%Y, %I:%M%p') }}</td>
        <td>
            </br>{{ quiz.description }}
        </td>
    </tr>
        {% endfor %}
</table>
{% endblock %}
    