{% extends "base.html" %}
{% block content %}
    <div class='tutorialcontainer'>
        <h1>About Us</h1>
        <p>Quizards is a teacher-student web based quiz application. We deliver quizzes created and uploaded by teachers for a variety of subjects. Quizards quizzes provide support for multiple choice questions, short answer questions and long answer questions. </p>
        </br>
        </br>
        
        <h1>Getting Started</h1>
        <p>On this website you can view all available quizzes on the home page, located in the middle of the navigation pane. You can view the profile of the authors of any of the quiz’s by clicking their /username. To start the quiz, click the title of the quiz or anywhere in the box. This will direct you to the quiz’s questions page, where you will submit your answers. </p>
        <p>There are various other options to explore on this website too, such as: commenting after completing a quiz; viewing the frequency distribution and leaderboards for quizzes; following and unfollowing users; customizing your profile gravatar or about me. </p>
        </br>
        <h1>How Marking Works</h1>
        <p>The quizzes function by immediatley calculating the marks for multiple choice and fuzzy matched short answers, however, long answer questions are stored for a teacher to manually assess and then provide feedback within a users 'Results' page. </p>
        </br>
        <p>Visit the menu in the navigation pane to view more pages such as your own profile, your assessment results or to log out of your account.</p>
    </div>
{% endblock %}
